<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<configuration>
    <!-- SERVICE LOG APPENDER -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%15X{transactionId} - %30.30logger{30}:%4.4line / %5level] : %msg%n</pattern>-->
        <pattern>%X{hostName} | %d{${datestamp}} | %-5level | %X{transactionId} | %X{resCode} | %X{memberNo} | %X{characterNo} | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO" />
    <logger name="springfox.documentation" level="OFF" />
    <logger name="org.springframework.jdbc" level="INFO" />

    <logger name="com.sktechx" level="trace" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 	<logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory"> -->
    <!-- 		<level value="debug" /> -->
    <!-- 		<appender-ref ref="CONSOLE" /> -->
    <!-- 	</logger> -->

    <!-- Database Log -->
    <logger name="com.spring.ibatis">
        <level value="off" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="java.sql" additivity="false">
        <level value="off" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.apache.ibatis" additivity="false">
        <level value="off" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.mybatis.spring" additivity="false">
        <level value="off" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.netflix.discovery" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>
