<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<configuration>
	<!-- SERVICE LOG APPENDER -->   
	<appender name="SERVICE_API_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/service/api.${instance.id}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.home}/logs/service/api.${instance.id}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep x days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        	<charset>UTF-8</charset>
			<!--<pattern>%d %5p [%15X{transactionId}] : %msg%n</pattern>-->
            <pattern>%X{hostName} | %d{${datestamp}} | %-5level | %X{transactionId} | %X{resCode} | %X{memberNo} | %X{characterNo} | %msg%n</pattern>
   		</encoder>
    </appender>
    
    <root>
        <level value="WARN" />
        <appender-ref ref="SERVICE_API_ROLLINGFILE" />
    </root>
    
    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="SERVICE_API_ROLLINGFILE" />
    </logger>
    <logger name="com.sktechx" level="INFO" additivity="false">
        <appender-ref ref="SERVICE_API_ROLLINGFILE" />
    </logger>
</configuration>
