<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<configuration>
    <!-- SERVICE LOG APPENDER -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%15X{transactionId} - %30.30logger{30}:%4.4line / %5level] : %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.sktechx" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <!--
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%15X{transactionId} - %30.30logger{30}:%4.4line / %5level] : %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="SERVICE_API_ROLLINGFILE" />
    </root>

    <logger name="com.sktechx" level="DEBUG" additivity="false">
        <appender-ref ref="SERVICE_API_ROLLINGFILE" />
    </logger>
    -->
</configuration>
