<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2018 SK TECHX.
  ~  * All right reserved.
  ~  *
  ~  * This software is the confidential and proprietary information of SK TECHX.
  ~  * You shall not disclose such Confidential Information and
  ~  * shall use it only in accordance with the terms of the license agreement
  ~  * you entered into with SK TECHX.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sktechx.godmusic.personal.rest.repository.RecommendImageManagementMapper">

    <resultMap id="recommendImageResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.ImageManagementDto" />

	<select id="selectRecommendImageManagementList" resultMap="recommendImageResultMap">
		SELECT
		  b.img_disp_type,
		  b.os_type,
		  b.img_size,
		  b.img_url
		FROM tb_rcmmd_similar_track a
		  JOIN tb_rcmmd_img_mang b
			ON a.disp_sn = b.disp_sn
			   AND a.rcmmd_similar_track_id = #{recommendId}
			   AND b.rcmmd_type_id = #{recommendType} /* only RC_SML_TR */
		<if test="imageType != null">
			   AND b.img_disp_type = #{imageType}
		</if>
		<if test="osType != null">
			   AND b.os_type = #{osType}
		</if>
		  JOIN (
				 SELECT CASE DAYOFWEEK(NOW())
						WHEN '1'
						  THEN 'SUN'
						WHEN '2'
						  THEN 'MON'
						WHEN '3'
						  THEN 'TUE'
						WHEN '4'
						  THEN 'WED'
						WHEN '5'
						  THEN 'THU'
						WHEN '6'
						  THEN 'FRI'
						WHEN '7'
						  THEN 'SAT'
						END AS dfk_type
				 UNION
				 SELECT 'EVERY'
			   ) c
			ON b.dfk_type = c.dfk_type
		ORDER BY a.disp_sn
	</select>

	<select id="selectMappingImageRecommendImageList" resultMap="recommendImageResultMap">
		SELECT
		  b.img_disp_type,
		  b.os_type,
		  b.img_size,
		  b.img_url
		<if test="recommendType.getCode() == 'RC_GR_TR'">
		FROM tb_rcmmd_prefer_genre_similar_track a
		  JOIN tb_map_img_rcmmd_img b
			ON a.svc_genre_id = b.img_content_id
			   AND a.rcmmd_prefer_genre_similar_track_id = #{recommendId}
		</if>
		<if test="recommendType.getCode() == 'RC_CF_TR'">
		FROM tb_rcmmd_mforu a
		  JOIN tb_map_img_rcmmd_img b
			ON a.svc_genre_id = b.img_content_id
			   AND a.rcmmd_mforu_id = #{recommendId}
		</if>
			   AND b.img_content_type = 'GENRE'
			   AND b.rcmmd_type_id = #{recommendType}
		<if test="osType != null">
			   AND b.os_type = #{osType}
		</if>
		<if test="imageType != null">
			   AND b.img_disp_type = #{imageType}
		</if>
		  JOIN (
				 SELECT CASE DAYOFWEEK(NOW())
						WHEN '1'
						  THEN 'SUN'
						WHEN '2'
						  THEN 'MON'
						WHEN '3'
						  THEN 'TUE'
						WHEN '4'
						  THEN 'WED'
						WHEN '5'
						  THEN 'THU'
						WHEN '6'
						  THEN 'FRI'
						WHEN '7'
						  THEN 'SAT'
						END AS dfk_type
				 UNION
				 SELECT 'EVERY'
			   ) c ON b.dfk_type = c.dfk_type
		ORDER BY a.disp_sn
	</select>

	<select id="selectFixedRecommendImageList" resultMap="recommendImageResultMap">
		SELECT
		  'RCT_DTL' AS img_disp_type,
		  os_type,
		  img_size,
		  img_url
		FROM tb_rcmmd_img_mang
		WHERE rcmmd_type_id = 'RC_ATST_TR'
		AND img_disp_type = 'MAIN_SRT'
		AND os_TYPE IN ('ALL', #{osType})
		LIMIT 1
	</select>

	<select id="selectAdaptivePanelImageList" resultMap="recommendImageResultMap">
		SELECT
		  img_disp_type,
		  os_type,
		  img_size,
		  img_url
		FROM tb_img_mang
		WHERE img_content_type = 'RX_PANNEL'
		AND img_disp_type = 'RCT_DTL'
		AND os_TYPE IN ('ALL', #{osType})
		LIMIT 1
	</select>

	<select id="selectAdaptivePanelHomeImageList" resultType="com.sktechx.godmusic.personal.rest.model.vo.ImageInfo">
		SELECT
			img_disp_type,
			os_type,
			img_size,
			img_url
		FROM tb_img_mang
		WHERE img_content_type = 'RX_PANNEL'
		  AND img_disp_type = 'MAIN_TOP'
	</select>

	<select id="selectRecommendPanelDefaultImageList" resultType="com.sktechx.godmusic.personal.rest.model.vo.ImageInfo">
		SELECT
			os_type,
			img_size size,
			img_url url,
			disp_sn
		FROM
			tb_rcmmd_img_mang
		WHERE
			rcmmd_type_id = 'ALL'
		  AND dfk_type = 'EVERY'
		  AND img_disp_type = 'DEFAULT'
	</select>

	<select id="selectRecommendPanelInfoBgImageUrl" resultType="String">
		SELECT
		c.img_url
		FROM
		<if test="recommendPanelContentType != null and recommendPanelContentType == 'RC_SML_TR'">
			tb_rcmmd_img_mang c
			WHERE
			c.dfk_type = CASE DAYOFWEEK(NOW())
			WHEN '1' THEN 'SUN'
			WHEN '2' THEN 'MON'
			WHEN '3' THEN 'TUE'
			WHEN '4' THEN 'WED'
			WHEN '5' THEN 'THU'
			WHEN '6' THEN 'FRI'
			WHEN '7' THEN 'SAT'
			END
			AND c.disp_sn = #{dispSn}
			AND c.rcmmd_type_id = 'RC_SML_TR'
			AND c.img_disp_type = 'MAIN_TOP'
			AND c.os_type = #{osType}
			ORDER BY c.disp_sn
			LIMIT 1
		</if>
		<if test="recommendPanelContentType != null and recommendPanelContentType == 'RC_GR_TR'">
			tb_rcmmd_prefer_genre_similar_track a
			INNER JOIN
			tb_svc_genre b ON a.svc_genre_id = b.svc_genre_id
			LEFT OUTER JOIN
			tb_map_img_rcmmd_img c ON b.svc_genre_id = c.img_content_id
			AND c.img_content_type = 'GENRE'
			AND c.rcmmd_type_id = 'RC_GR_TR'
			AND c.os_type = #{osType}
			AND c.dfk_type = CASE DAYOFWEEK(NOW())
			WHEN '1' THEN 'SUN'
			WHEN '2' THEN 'MON'
			WHEN '3' THEN 'TUE'
			WHEN '4' THEN 'WED'
			WHEN '5' THEN 'THU'
			WHEN '6' THEN 'FRI'
			WHEN '7' THEN 'SAT'
			END
			AND c.img_disp_type = 'MAIN_TOP'
			WHERE
			a.rcmmd_prefer_genre_similar_track_id = #{rcmmdId}

			LIMIT 1
		</if>
		<if test="recommendPanelContentType != null and recommendPanelContentType == 'RC_CF_TR'">
			tb_rcmmd_mforu a
			INNER JOIN
			tb_svc_genre b ON a.svc_genre_id = b.svc_genre_id
			LEFT OUTER JOIN
			tb_map_img_rcmmd_img c ON b.svc_genre_id = c.img_content_id
			AND c.rcmmd_type_id = 'RC_CF_TR'
			AND c.os_type = #{osType}
			AND c.img_disp_type = 'MAIN_TOP'
			AND c.img_content_type = 'GENRE'
			AND c.disp_sn = #{dispSn}

			WHERE
			rcmmd_mforu_id = #{rcmmdId}
		</if>
	</select>

</mapper>