<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2018 SK TECHX.
  ~  * All right reserved.
  ~  *
  ~  * This software is the confidential and proprietary information of SK TECHX.
  ~  * You shall not disclose such Confidential Information and
  ~  * shall use it only in accordance with the terms of the license agreement
  ~  * you entered into with SK TECHX.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sktechx.godmusic.personal.rest.repository.OcrMapper">

    <insert id="insertOcr" parameterType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrDto" useGeneratedKeys="true" keyProperty="ocrNo" >
		INSERT INTO tb_ocr (
		  	  member_no
		  	, character_no
		  	, create_dtime
		) VALUES (
			  #{memberNo}
			, #{characterNo}
            , now()
		)
	</insert>

    <insert id="insertOcrFile" parameterType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrFileDto">
		INSERT INTO tb_ocr_file (
		  	  ocr_no
		  	, ocr_file_no
		  	, upload_yn
		  	, anals_succ_yn
		  	, anals_start_dtime
		  	, anals_end_dtime
		  	, aws_bucket_nm
		  	, aws_bucket_key
		  	, send_push_dtime
		) VALUES (
			  #{ocrNo}
			, #{ocrFileNo}
			, #{uploadYn}
			, #{analsSuccYn}
			, #{analsStartDtime}
			, #{analsEndDtime}
			, #{awsBucketNm}
			, #{awsBucketKey}
			, #{sendPushDtime}
		)
	</insert>

    <update id="updateOcrFile" parameterType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrFileDto">
        UPDATE tb_ocr_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="uploadYn != null">upload_yn = #{uploadYn},  </if>
            <if test="analsSuccYn != null">anals_succ_yn = #{analsSuccYn},  </if>
            <if test="analsStartDtime != null">anals_start_dtime = #{analsStartDtime},  </if>
            <if test="analsEndDtime != null">anals_end_dtime = #{analsEndDtime},  </if>
            <if test="awsBucketNm != null">aws_bucket_nm = #{awsBucketNm},  </if>
            <if test="awsBucketKey != null">aws_bucket_key = #{awsBucketKey},  </if>
            <if test="sendPushDtime != null">send_push_dtime = #{sendPushDtime},  </if>
        </trim>
        WHERE
          ocr_no = #{ocrNo}
          AND ocr_file_no = #{ocrFileNo}
    </update>

	<resultMap id="ocrAnalsVoMap" type="com.sktechx.godmusic.personal.rest.model.vo.ocr.OcrAnalsVo" autoMapping="true">
		<id property="ocrNo" column="ocr_no"/>
		<collection property="ocrAnalsResultList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ocr.OcrAnalsVo$OcrAnalsResultVo" autoMapping="true">
			<id property="ocrAnalsResultNo" column="ocr_anals_result_no"/>
			<!--<collection property="ocrAnalsResultTrackList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ocr.OcrAnalsVo$OcrAnalsResultTrackVo">-->
				<!--<result property="trackId" column="track_id" />-->
				<!--<result property="matchingRate" column="matching_rate" />-->
			<!--</collection>-->
			<collection property="track" resultMap="com.sktechx.godmusic.personal.rest.repository.TrackMapper.trackResultMap"/>
		</collection>

	</resultMap>

	<select id="selectOcrAnals" resultMap="ocrAnalsVoMap">
		SELECT
            a.ocr_anals_result_no,
            a.ocr_no,
            a.ocr_file_no,
            a.left_top_x_axis,
            a.left_top_y_axis,
            a.right_bottom_x_axis,
            a.right_bottom_y_axis,
            a.track_nm_skip_yn,
            a.artist_nm_skip_yn,
            a.artist_matching_yn,
            c.track_id,
			c.track_nm,
			c.track_play_tm,
			c.adult_auth_need_track_yn,
			c.track_subtrct_qty,
			IF(c.streaming_premium_yn = 'Y' OR c.pps_yn ='Y' , 'Y', 'N')	AS holdbackYn,
			c.disp_status_yn,
			IF(c.title_yn = 'Y' , 'Y', 'N') 								AS titleYn,
			c.agency_id,
			c.free_yn,
			d.album_id,
			d.title,
			d.release_ymd,
			IF(d.album_tp='MF', '', d.album_tp) 							AS albumType,
			f.style_nm 														AS genreStyle,
			g.album_img_size 												AS size,
			g.album_img_url 												AS url,
			h.artist_id,
			i.artist_nm
		FROM
			tb_ocr_anals_result a
			LEFT JOIN tb_ocr_anals_result_track b ON a.ocr_anals_result_no = b.ocr_anals_result_no AND b.artist_matching_yn = 'Y'
            LEFT JOIN tb_track c ON b.track_id = c.track_id AND c.disp_status_yn= 'Y' AND now() BETWEEN c.disp_start_dtime AND c.disp_end_dtime
            LEFT JOIN ted_album d ON d.album_id = c.album_id AND d.disp_status_yn= 'Y' AND now() BETWEEN d.disp_start_dtime AND d.disp_end_dtime
            LEFT JOIN ted_albumstyle e ON e.album_id = d.album_id
			LEFT JOIN ted_style f ON f.style_id = e.style_id
            LEFT JOIN tb_album_img g ON g.album_id = d.album_id
            LEFT JOIN ted_trackartist h ON h.artist_id = d.artist_id AND h.rp_yn = 'Y'
            LEFT JOIN ted_artist i ON h.artist_id = i.artist_id
		WHERE a.ocr_no = #{ocrNo}
	</select>

</mapper>