<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.AlbumMapper" >

    <resultMap id="albumResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.AlbumDto" autoMapping="true">
        <id property="albumId" column="album_id"/>
        <collection property="imgList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ImageInfo" column="album_id">
            <result property="size" column="size" />
            <result property="url" column="url" />
        </collection>

        <collection property="artistList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" column="albumArtistId">
            <result property="artistId" column="albumArtistId"></result>
            <result property="artistName" column="albumArtistName"></result>
        </collection>

        <collection property="artist" ofType="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" column="albumRepArtistId">
            <result property="artistId" column="albumRepArtistId"></result>
            <result property="artistName" column="albumRepArtistName"></result>
        </collection>
    </resultMap>

    <resultMap id="lastListenHistoryResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.LastListenHistoryDto" autoMapping="true">
        <id property="listenId" column="listen_id"/>
        <collection property="imgList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ImageInfo" column="listen_id" autoMapping="true">
            <result property="size" column="size" />
            <result property="url" column="url" />
        </collection>
        <collection property="album" resultMap="albumResultMap"/>
    </resultMap>

    <select id = "selectLastListenHistory" resultMap="lastListenHistoryResultMap">

        SELECT
                i.listen_id,
                i.listen_type,
                i.listen_type_id,
                i.content_title,
                i.last_listen_dtime,
                i.album_id,
                i.title,
                i.release_ymd,
                i.album_type,
                i.albumArtistId,
                i.albumArtistName,
                j.album_img_size as size,
                j.album_img_url as url
            FROM (
            SELECT CONCAT(a.listen_type, a.listen_type_id) as listen_id,
                   a.listen_type,
                   a.listen_type_id,
                   b.title as content_title,
                   a.last_listen_dtime,
                   b.album_id,
                   b.title,
                   b.release_ymd,
                   b.album_tp as album_type,
                   d.artist_id albumArtistId,
                   d.artist_nm albumArtistName,
                   c.listorder
              FROM ( SELECT listen_type, listen_type_id, last_listen_dtime
                       FROM tb_member_last_listen_hist
                      WHERE member_no = #{memberNo}
                        AND character_no = #{characterNo}
                        AND listen_type = 'ALBUM'
                      ORDER BY last_listen_dtime DESC
                      LIMIT 1000 ) a
              JOIN ted_album b ON a.listen_type_id = b.album_id AND b.disp_status_yn = 'Y' AND now() BETWEEN b.disp_start_dtime AND b.disp_end_dtime
              LEFT OUTER JOIN ted_albumartist c
                ON b.album_id = c.album_id
              LEFT OUTER JOIN ted_artist d
                ON c.artist_id = d.artist_id
              LEFT OUTER JOIN ted_albumstyle f
                ON b.album_id = f.album_id
              LEFT OUTER JOIN ted_style g
                ON f.style_id = g.style_id
              LEFT OUTER JOIN ted_artist h
                ON h.artist_id = b.artist_id
            GROUP BY listen_id, listen_type, listen_type_id, content_title, last_listen_dtime, album_id, title, release_ymd, album_type, albumArtistId, albumArtistName, listorder
            ORDER BY last_listen_dtime DESC, listorder ASC
            ) i

            LEFT OUTER JOIN tb_album_img j
              ON i.album_id = j.album_id

    </select>

</mapper>