<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.LikeMapper" >

    <resultMap type="com.sktechx.godmusic.personal.rest.model.dto.TrackDto" id="trackResultMap" autoMapping="true">
        <id property="trackId" column="trackId" />
        <collection property="album" resultMap="com.sktechx.godmusic.personal.rest.repository.AlbumMapper.albumResultMap"/>
        <collection property="artistList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" column="artistId">
            <result property="artistId" column="artistId"/>
            <result property="artistName" column="artistNm"/>
        </collection>
        <collection property="artist" ofType="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" column="repArtistId">
            <result property="artistId" column="repArtistId"/>
            <result property="artistName" column="repArtistNm"/>
        </collection>
    </resultMap>

    <resultMap id="albumResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.AlbumDto" autoMapping="true">
        <id property="albumId" column="albumId"/>
        <collection property="imgList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ImageInfo" column="albumId" autoMapping="true">
            <result property="size" column="size" />
            <result property="url" column="url" />
            <result property="updateDateTime" column="albumImgUpdateDateTime" />
        </collection>

        <collection property="artistList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" column="albumArtistId">
            <result property="artistId" column="albumArtistId"/>
            <result property="artistName" column="albumArtistName"/>
        </collection>

        <collection property="artist" ofType="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" column="albumRepArtistId">
            <result property="artistId" column="albumRepArtistId"/>
            <result property="artistName" column="albumRepArtistName"/>
        </collection>
    </resultMap>

    <resultMap id="artistResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" autoMapping="true">
        <id property="artistId" column="artistId"/>
        <collection property="imgList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ImageInfo" column="artistId" autoMapping="true">
            <result property="size" column="size" />
            <result property="url" column="url" />
            <result property="updateDateTime" column="artistImgUpdateDateTime" />
        </collection>
    </resultMap>

    <resultMap id="playlistResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.PlayListDto" autoMapping="true">
        <id property="id" column="id"/>
        <result property="name" column="name"/>

        <collection property="imgList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ImageInfo" autoMapping="true">
            <id property="size" column="size"/>
            <id property="url" column="url"/>
        </collection>
    </resultMap>

    <select id="getLikeVideoByLikeType" resultType="Long">
        SELECT
            A.like_type_id as videoId
        FROM (
         SELECT
            t1.like_type_id
         FROM tb_character_like t1 INNER JOIN tb_video t2 ON t1.like_type_id = t2.video_id
                AND t2.disp_status_yn = 'Y'
                AND now() BETWEEN t2.disp_start_dtime AND t2.disp_end_dtime
         WHERE t1.character_no = #{characterNo} AND t1.like_type = 'VIDEO'
         ORDER BY t1.disp_sn ASC, t1.update_dtime ASC
         LIMIT #{pageable.offset}, #{pageable.pageSize}
         ) A
    </select>

    <select id="getLikeTrackByLikeType" resultMap="trackResultMap">
        SELECT A.like_type_id                                                          AS trackId
             , A.disp_sn
             , A.track_nm
             , A.album_id
             , A.disp_status_yn                                                        AS displayYn
             , A.agency_id
             , IF(A.title_yn = 'Y', 'Y', 'N')                                          AS titleYn
             , A.create_dtime
             , A.update_dtime
             , E.album_img_size                                                        AS size
             , E.album_img_url                                                         AS url
             , 'Y'                                                                     AS likeYn
             , IF(A.streaming_premium_yn = 'Y' OR A.pps_yn = 'Y', 'Y', 'N')            AS holdbackYn
             , IF(A.adult_auth_need_track_yn = 'Y', 'Y', 'N')                          AS adultAuthYn
             , D.artist_id                                                             AS artistId
             , D.artist_nm                                                             AS artistNm
             , F.title                                                                 AS albumTitle
             , G.artist_id                                                             AS repArtistId
             , G.artist_nm                                                             AS repArtistNm
             , A.svc_flac_yn
        FROM (
             SELECT t1.like_type_id
                  , t1.disp_sn
                  , t1.update_dtime as like_update_dtime
                  , t2.album_id
                  , t2.reprsnt_artist_id
                  , t2.track_nm
                  , t2.disp_status_yn
                  , t2.agency_id
                  , t2.title_yn
                  , t2.create_dtime
                  , t2.update_dtime
                  , t2.streaming_premium_yn
                  , t2.adult_auth_need_track_yn
                  , t2.pps_yn
                  , t2.svc_flac_yn
             FROM tb_character_like T1
                    INNER JOIN tb_track T2 ON T1.like_type_id = T2.track_id
             WHERE T1.character_no = #{characterNo} AND T1.like_type = 'TRACK' AND T2.disp_status_yn = 'Y'
                ORDER BY T1.disp_sn ASC, T1.update_dtime ASC
                    LIMIT
                    #{pageable.offset} ,
                    #{pageable.pageSize}
             ) A
               LEFT OUTER JOIN ted_trackartist C ON A.like_type_id = C.track_id AND C.rp_yn = 'Y' AND C.db_sts = 'A'
               LEFT OUTER JOIN ted_artist D ON C.artist_id = D.artist_id
               LEFT OUTER JOIN tb_album_img E ON A.album_id = E.album_id
               LEFT OUTER JOIN ted_album F ON A.album_id = F.album_id
               LEFT OUTER JOIN ted_artist G ON A.reprsnt_artist_id = G.artist_id
        ORDER BY A.disp_sn ASC, A.like_update_dtime ASC, C.listorder ASC
    </select>

    <select id="getLikeAlbumByLikeType" resultMap="albumResultMap">
        SELECT L.LIKE_TYPE_ID                                                          AS albumId
             , L.TITLE                                                                 AS albumTitle
             , L.RELEASE_YMD                                                           AS releaseYmd
             , IF(L.ALBUM_TP = 'MF', '', L.ALBUM_TP)                                   AS albumType
             , C.ARTIST_ID                                                             AS albumArtistId
             , C.ARTIST_NM                                                             AS albumArtistName
             , IFNULL(GROUP_CONCAT(DISTINCT (F.STYLE_NM) ORDER BY F.STYLE_ID ASC SEPARATOR ','),
                      '앨범 유형 정보가 없습니다.')                                               AS genreStyle
             , D.ALBUM_IMG_SIZE                                                        AS size
             , D.ALBUM_IMG_URL                                                         AS url
             , G.ARTIST_ID                                                             AS albumRepArtistId
             , G.ARTIST_NM                                                             AS albumRepArtistName
             , 'Y'                                                                     AS likeYn
        FROM (
             SELECT T1.LIKE_TYPE_ID, T1.DISP_SN, T1.UPDATE_DTIME, T2.TITLE, T2.RELEASE_YMD, T2.ALBUM_TP
             FROM TB_CHARACTER_LIKE T1
                    INNER JOIN TED_ALBUM T2 ON T1.LIKE_TYPE_ID = T2.ALBUM_ID
             WHERE T1.CHARACTER_NO = #{characterNo} AND T1.LIKE_TYPE = 'ALBUM' AND T2.DISP_STATUS_YN = 'Y'
             ORDER BY T1.DISP_SN ASC, T1.UPDATE_DTIME ASC
             LIMIT #{pageable.offset}, #{pageable.pageSize}) L
               LEFT OUTER JOIN TED_ALBUMARTIST B ON L.LIKE_TYPE_ID = B.ALBUM_ID
               LEFT OUTER JOIN TED_ARTIST C ON B.ARTIST_ID = C.ARTIST_ID
               LEFT OUTER JOIN TB_ALBUM_IMG D ON L.LIKE_TYPE_ID = D.ALBUM_ID
               LEFT OUTER JOIN TED_ALBUMSTYLE E ON L.LIKE_TYPE_ID = E.ALBUM_ID
               LEFT OUTER JOIN TED_STYLE F ON E.STYLE_ID = F.STYLE_ID
               LEFT OUTER JOIN TED_ARTIST G ON G.ARTIST_ID = L.LIKE_TYPE_ID
        GROUP BY ALBUMID, ALBUMARTISTID, SIZE, ALBUMTITLE, RELEASEYMD, ALBUMTYPE, ALBUMARTISTNAME, URL, LIKEYN, ALBUMREPARTISTID
               , ALBUMREPARTISTNAME
        ORDER BY L.DISP_SN ASC, L.UPDATE_DTIME ASC
    </select>

    <select id="getLikeArtistByLikeType" resultMap="artistResultMap">
        SELECT L.LIKE_TYPE_ID                                                                          AS artistId
             , L.ARTIST_NM                                                                             AS artistName
             , L.SEX_CD                                                                                AS genderCd
             , L.GRP_CD                                                                                AS artistGroupType
             , B.SIZE                                                                                  AS size
             , B.URL                                                                                   AS url
             , IFNULL(SUBSTR(L.ACT_START_YMD, 1, 4), NULL)                                             AS actStartYmd
             , IFNULL(GROUP_CONCAT(DISTINCT (D.STYLE_NM) ORDER BY D.STYLE_ID ASC SEPARATOR ','), NULL) AS artistStyle
             , 'Y'                                                                                     AS likeYn
        FROM (
             SELECT T1.LIKE_TYPE_ID, T1.DISP_SN, T1.UPDATE_DTIME, T2.ARTIST_NM, T2.SEX_CD, T2.GRP_CD, T2.ACT_START_YMD
             FROM TB_CHARACTER_LIKE T1
                    INNER JOIN TED_ARTIST T2 ON T1.LIKE_TYPE_ID = T2.ARTIST_ID
             WHERE T1.CHARACTER_NO = #{characterNo} AND T1.LIKE_TYPE = 'ARTIST'
             ORDER BY T1.DISP_SN ASC, T1.UPDATE_DTIME ASC
             LIMIT #{pageable.offset}, #{pageable.pageSize}) L
               LEFT OUTER JOIN TED_ARTISTIMAGE B ON L.LIKE_TYPE_ID = B.ARTIST_ID
               LEFT OUTER JOIN TED_ARTISTSTYLE C ON L.LIKE_TYPE_ID = C.ARTIST_ID
               LEFT OUTER JOIN TED_STYLE D ON C.STYLE_ID = D.STYLE_ID
        GROUP BY ARTISTID, ARTISTNAME, GENDERCD, ARTISTGROUPTYPE, SIZE, URL, ACTSTARTYMD, LIKEYN
        ORDER BY L.DISP_SN ASC, L.UPDATE_DTIME ASC
    </select>

    <select id="getLikePlaylistByLikeType" resultMap="playlistResultMap">
        SELECT
            id
            , name
            , chartType
            , albumId
            , url
            , size
            , trackCount
            , createDateTime
            , updateDateTime
            , registDateTime
            , playTime
            , playListType
            , dispSn
            , likeUpdateDtime
            , renewDateTime
            , renewTrackCnt
        FROM (
                 SELECT
                       CL.CHART_ID                                                   AS id
                     , CL.CHART_NM                                                   AS name
                     , CL.CHART_TYPE                                                 AS chartType
                     , CL.ALBUM_ID                                                   AS albumId
                     , I.URL                                                         AS url
                     , I.SIZE                                                        AS size
                     , CL.MUSIC_CONTENT_CNT                                          AS trackCount
                     , CL.CREATE_DTIME                                               AS createDateTime
                     , CL.UPDATE_DTIME                                               AS updateDateTime
                     , null                                                          AS registDateTime
                     , ''                                                            AS playTime
                     , CL.LIKE_TYPE                                                  AS playListType
                     , CL.DISP_SN                                                    AS dispSn
                     , CL.UPDATE_DTIME                                               AS likeUpdateDtime
                     , null                                                          AS renewDateTime
                     , ''                                                            AS renewTrackCnt
                 FROM
                     (
                         SELECT
                             A.CHART_ID
                             , A.CHART_NM
                             , A.CHART_TYPE
                             , C.ALBUM_ID
                             , A.MUSIC_CONTENT_CNT
                             , A.CREATE_DTIME
                             , A.UPDATE_DTIME
                             , CASE WHEN A.CHART_TYPE = 'NEW' THEN 'CHART'
                               ELSE 'RANK_CHART' END AS LIKE_TYPE
                             , L.DISP_SN
                             , L.UPDATE_DTIME AS LIKE_UPDATE_DTIME
                         FROM
                             (
                                 SELECT
                                     LIKE_TYPE_ID
                                     , LIKE_TYPE
                                     , DISP_SN
                                     , UPDATE_DTIME
                                 FROM TB_CHARACTER_LIKE
                                 WHERE CHARACTER_NO = #{characterNo}
        <if test="chartIds != null">
            AND LIKE_TYPE_ID IN
            <foreach item="chartId" index="index" collection="chartIds" open="(" separator="," close=")">
                #{chartId}
            </foreach>
        </if>
        <if test="chartIds == null">
            AND 1 = 0
        </if>

                                       AND LIKE_TYPE = 'CHART') L INNER JOIN TB_CHART A
                                 ON L.LIKE_TYPE_ID = A.CHART_ID
                             INNER JOIN TB_CHART_MUSIC_CONTENT B
                                 ON A.CHART_ID = B.CHART_ID AND B.DISP_SN = 1
                             INNER JOIN TB_TRACK C
                                 ON B.MUSIC_CONTENT_ID = C.TRACK_ID
                     ) CL
                     INNER JOIN TED_ALBUMIMAGE I
                         ON CL.ALBUM_ID = I.ALBUM_ID
         UNION ALL
         SELECT
               A.CHNL_ID                                                               AS id
             , A.CHNL_NM                                                               AS name
             , ''                                                                      AS chartType
             , ''                                                                      AS albumId
             , I.ALBUM_IMG_URL                                                         AS url
             , I.ALBUM_IMG_SIZE                                                        AS size
             , A.TRACK_CNT                                                             AS trackCount
             , A.CREATE_DTIME                                                          AS createDateTime
             , A.UPDATE_DTIME                                                          AS updateDateTime
             , A.ES_ALBUM_APPLY_DTIME                                                  AS registDateTime
             , A.CHNL_PLAY_TM                                                          AS playTime
             , IF(A.CHNL_TYPE !='FLAC', IF(A.CHNL_TYPE !='AFLO', 'CHNL', 'AFLO'), 'FLAC') AS playListType
             , L.DISP_SN                                                               AS dispSn
             , L.UPDATE_DTIME                                                          AS likeUpdateDtime
             , A.RENEW_DTIME                                                           AS renewDateTime
             , A.RENEW_TRACK_CNT                                                       AS renewTrackCnt
         FROM
             (
                 SELECT
                     LIKE_TYPE_ID
                     , LIKE_TYPE
                     , DISP_SN
                     , UPDATE_DTIME
                 FROM TB_CHARACTER_LIKE
                 WHERE CHARACTER_NO = #{characterNo}
                <if test="chnlIds != null">
                    AND LIKE_TYPE_ID IN
                    <foreach item="chnlId" index="index" collection="chnlIds" open="(" separator="," close=")">
                        #{chnlId}
                    </foreach>
                </if>
                <if test="chnlIds == null">
                    AND 1 = 0
                </if>
                    AND LIKE_TYPE = 'CHNL') L
                INNER JOIN TB_CHNL A
                    ON L.LIKE_TYPE_ID = A.CHNL_ID
                    AND A.DISP_STATUS_TYPE = 'Y'
                    AND A.CHNL_TYPE !='AFLO'

                <if test="exceptFlacChnl">
                    AND A.CHNL_TYPE !='FLAC'
                </if>

             INNER JOIN TB_ALBUM_IMG I
                 ON A.ALBUM_ID = I.ALBUM_ID

        UNION ALL
        SELECT
            A.chnl_id                                                               AS id
            , A.chnl_nm                                                               AS name
            , ''                                                                      AS chartType
            , ''                                                                      AS albumId
            , I.img_url                                                               AS url
            , 600                                                                     AS size
            , A.track_cnt                                                             AS trackCount
            , A.create_dtime                                                          AS createDateTime
            , A.update_dtime                                                          AS updateDateTime
            , A.es_album_apply_dtime                                                  AS registDateTime
            , A.chnl_play_tm                                                          AS playTime
            , A.chnl_type                                                             AS playListType
            , L.disp_sn                                                               AS dispSn
            , L.update_dtime                                                          AS likeUpdateDtime
            , A.renew_dtime                                                           AS renewDateTime
            , A.renew_track_cnt                                                       AS renewTrackCnt
            FROM
            (
            SELECT
                like_type_id
                , like_type
                , disp_sn
                , update_dtime
                FROM tb_character_like
                WHERE character_no = #{characterNo}
                <if test="chnlIds != null">
                    AND like_type_id IN
                    <foreach item="chnlId" index="index" collection="chnlIds" open="(" separator="," close=")">
                        #{chnlId}
                    </foreach>
                </if>
                <if test="chnlIds == null">
                    AND 1 = 0
                </if>
                AND like_type = 'CHNL') L
                INNER JOIN tb_chnl A
                ON L.like_type_id = A.chnl_id
                AND A.disp_status_type = 'Y'
                AND A.chnl_type ='AFLO'

                INNER JOIN tb_chnl_img I
                ON A.chnl_id = I.chnl_id
                AND I.chnl_img_type = 'TOP_DETAIL'


         ) AA
        ORDER BY AA.DISPSN ASC, AA.LIKEUPDATEDTIME ASC
    </select>

    <select id="getLikePlaylistIdsByLikeType" resultType="com.sktechx.godmusic.personal.rest.model.vo.like.LikeTypeVo">
        SELECT LIKE_TYPE_ID
             , LIKE_TYPE
        FROM (
            SELECT
                LIKE_TYPE_ID
                 , LIKE_TYPE
                 , DISP_SN
                 , L.UPDATE_DTIME
            FROM
                (
                    SELECT
                        LIKE_TYPE_ID
                         , LIKE_TYPE
                         , DISP_SN
                         , UPDATE_DTIME
                    FROM TB_CHARACTER_LIKE
                    WHERE CHARACTER_NO = #{characterNo}
                            AND LIKE_TYPE = 'CHART') L
                    INNER JOIN TB_CHART A
                               ON L.LIKE_TYPE_ID = A.CHART_ID
                                   AND EXISTS(SELECT *
                                              FROM TB_CHART_MUSIC_CONTENT B
                                              WHERE A.CHART_ID = B.CHART_ID AND B.DISP_SN = 1 AND
                                                    EXISTS(SELECT * FROM TB_TRACK C WHERE B.MUSIC_CONTENT_ID = C.TRACK_ID))
            UNION ALL
            SELECT
                LIKE_TYPE_ID
                 , LIKE_TYPE
                 , DISP_SN
                 , L.UPDATE_DTIME
            FROM
                (
                    SELECT
                        LIKE_TYPE_ID
                         , LIKE_TYPE
                         , DISP_SN
                         , UPDATE_DTIME
                    FROM TB_CHARACTER_LIKE
                    WHERE CHARACTER_NO = #{characterNo}
                            AND LIKE_TYPE = 'CHNL') L
                    INNER JOIN TB_CHNL A
                               ON L.LIKE_TYPE_ID = A.CHNL_ID AND A.DISP_STATUS_TYPE = 'Y' AND A.CHNL_TYPE IN ('MM', 'DJ', 'FLAC', 'AFLO', 'SP')
                                   AND EXISTS(SELECT * FROM TB_ALBUM_IMG I WHERE A.ALBUM_ID = I.ALBUM_ID)) T1
        ORDER BY DISP_SN ASC, UPDATE_DTIME ASC
        LIMIT
            #{pageable.offset} ,
            #{pageable.pageSize}
    </select>

    <select id="getLikeCountByLikeTypeAndLikeTypeId" resultType="int">
        SELECT
            COUNT(*)
        FROM TB_CHARACTER_LIKE
        WHERE CHARACTER_NO = #{characterNo}
              AND LIKE_TYPE = #{likeType}
              AND LIKE_TYPE_ID = #{likeTypeId}
    </select>

    <select id="getLikeTrackCountByLikeType" resultType="int">
        SELECT COUNT(*)
        FROM TB_CHARACTER_LIKE T1
                 INNER JOIN TB_TRACK T2 ON T1.LIKE_TYPE_ID = T2.TRACK_ID
        WHERE T1.CHARACTER_NO = #{characterNo} AND T1.LIKE_TYPE = 'TRACK' AND T2.DISP_STATUS_YN = 'Y'
    </select>

    <select id="getLikeVideoCountByLikeType" resultType="int">
        SELECT COUNT(*)
        FROM TB_CHARACTER_LIKE T1
        INNER JOIN TB_VIDEO T2 ON T1.LIKE_TYPE_ID = T2.VIDEO_ID
        WHERE T1.CHARACTER_NO = #{characterNo} AND T1.LIKE_TYPE = 'VIDEO' AND T2.DISP_STATUS_YN = 'Y'
        AND now() between T2.DISP_START_DTIME AND T2.DISP_END_DTIME
    </select>

    <select id="getLikeAlbumCountByLikeType" resultType="int">
        SELECT COUNT(*)
        FROM TB_CHARACTER_LIKE T1
                 INNER JOIN TED_ALBUM T2 ON T1.LIKE_TYPE_ID = T2.ALBUM_ID
        WHERE T1.CHARACTER_NO = #{characterNo} AND T1.LIKE_TYPE = 'ALBUM' AND T2.DISP_STATUS_YN = 'Y'
    </select>

    <select id="getLikeArtistCountByLikeType" resultType="int">
        SELECT COUNT(*)
        FROM TB_CHARACTER_LIKE T1
                 INNER JOIN TED_ARTIST T2 ON T1.LIKE_TYPE_ID = T2.ARTIST_ID
        WHERE T1.CHARACTER_NO = #{characterNo} AND T1.LIKE_TYPE = 'ARTIST'
    </select>

    <select id="getLikeChannelCountByLikeType" resultType="int">
        SELECT
              COUNT(*)
        FROM
                (
                SELECT
                        LIKE_TYPE_ID
                FROM TB_CHARACTER_LIKE
                WHERE CHARACTER_NO = #{characterNo}
                        AND LIKE_TYPE = #{likeType}) L
                    INNER JOIN TB_CHNL A
                        ON L.LIKE_TYPE_ID = A.CHNL_ID AND A.DISP_STATUS_TYPE = 'Y' AND A.CHNL_TYPE IN ('MM', 'DJ', 'FLAC', 'AFLO', 'SP')
                  AND EXISTS(SELECT * FROM TB_ALBUM_IMG I WHERE A.ALBUM_ID = I.ALBUM_ID)
    </select>

    <select id="getLikeChartCountByLikeType" resultType="int">
        SELECT
               COUNT(*)
        FROM
                (
                SELECT
                        LIKE_TYPE_ID
                     , LIKE_TYPE
                     , DISP_SN
                     , UPDATE_DTIME
                FROM TB_CHARACTER_LIKE
                WHERE CHARACTER_NO = #{characterNo}
                        AND LIKE_TYPE = 'CHART') L
                  INNER JOIN TB_CHART A
                        ON L.LIKE_TYPE_ID = A.CHART_ID
                            AND EXISTS(SELECT *
                                       FROM TB_CHART_MUSIC_CONTENT B
                                       WHERE A.CHART_ID = B.CHART_ID AND B.DISP_SN = 1 AND
                                             EXISTS(SELECT * FROM TB_TRACK C WHERE B.MUSIC_CONTENT_ID = C.TRACK_ID))
    </select>

    <update id="updateLikeDispSn">
        UPDATE TB_CHARACTER_LIKE
        SET DISP_SN = DISP_SN + 1
        WHERE CHARACTER_NO = #{characterNo}
    </update>

    <insert id="insertLike">
        INSERT INTO TB_CHARACTER_LIKE (CHARACTER_NO, LIKE_TYPE, LIKE_TYPE_ID, DISP_SN, CREATE_DTIME, UPDATE_DTIME)
        VALUES (#{characterNo}, #{likeType}, #{likeTypeId}, 1, now(), now())
    </insert>

    <delete id="deleteLike">
        DELETE FROM TB_CHARACTER_LIKE
        WHERE CHARACTER_NO = #{characterNo}
              AND LIKE_TYPE = #{likeType}
              AND LIKE_TYPE_ID = #{likeTypeId}
    </delete>

    <update id="updateLikeListByLikeTypeId">
        UPDATE TB_CHARACTER_LIKE
        SET DISP_SN      = #{dispSn}
            , UPDATE_DTIME = now()
        WHERE CHARACTER_NO = #{characterNo}
              AND LIKE_TYPE = #{likeType}
              AND LIKE_TYPE_ID = #{likeTypeId}
    </update>

    <select id="countLikeByCharacterNo" resultType="int">
        SELECT
        	COUNT(*)
        FROM
			tb_character_like
		WHERE
			character_no = #{characterNo}
    </select>

   <insert id="insertSelectLike">
    INSERT INTO
      tb_character_like (character_no, like_type, like_type_id, disp_sn)
    SELECT #{toCharacterNo}, like_type, like_type_id, disp_sn from tb_character_like where character_no = #{fromCharacterNo}
   </insert>

</mapper>