<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.ArtistMapper">


    <resultMap id="artistResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.ArtistDto" autoMapping="true">
        <id property="artistId" column="artist_id"/>
        <collection property="imgList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.dto.ImageDto" column="artistId" autoMapping="true">
            <result property="size" column="size" />
            <result property="url" column="url" />
        </collection>
    </resultMap>

    <select id="getArtistList" resultMap="artistResultMap">
      SELECT
        a.artist_id ,
        a.artist_nm ,
        b.size,
        b.url
      FROM
        ted_artist a
        LEFT OUTER JOIN ted_artistimage b ON a.artist_id = b.artist_id
      WHERE
        a.artist_id IN
        <foreach collection="artistIdList" item="artistId" index="index" open="(" separator="," close=")">
            #{artistId}
        </foreach>
    </select>

    <select id="selectArtistListByPreferArtist" resultMap="artistResultMap">
      <![CDATA[
        SELECT
          t1.artist_id,
          t1.artist_nm,
          t2.url,
          t2.size
        FROM (
               SELECT
                 a.artist_id,
                 b.artist_nm
               FROM (
                      SELECT x.artist_id
                      FROM (
                             SELECT artist_id
                             FROM tb_character_prefer_artist
                             WHERE character_no = #{characterNo}
                             UNION
                             SELECT artist_id
                             FROM tb_map_artist_like
                             WHERE member_no = #{characterNo} # TODO: character_no 로 변경
                           ) x
                      ORDER BY RAND()
                    ) a
                 JOIN ted_artist b ON a.artist_id = b.artist_id
                 JOIN ted_track c ON b.artist_id = c.artist_id
                 JOIN tb_track d ON c.track_id = d.track_id AND d.disp_status_yn = 'Y' AND d.track_popularity > 0
               GROUP BY a.artist_id, b.artist_nm
               HAVING COUNT(1) >= 5
             ) t1
          JOIN ted_artistimage t2 ON t1.artist_id = t2.artist_id;
        ]]>
    </select>
</mapper>