<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.RecommendMapper" >

    <update id="updateRcmmdArtistDispStdEndDt">
        UPDATE TB_RCMMD_ARTIST
        SET DISP_STD_END_DT = now()
        WHERE CHARACTER_NO = #{characterNo}
              AND now() BETWEEN DISP_STD_START_DT AND DISP_STD_END_DT
    </update>

    <update id="insertRcmmdArtist" parameterType="com.sktechx.godmusic.personal.rest.model.dto.recommend.RecommendArtistDto"
            useGeneratedKeys="true" keyProperty="recommendArtistDto.rcmmdArtistId">
        INSERT INTO TB_RCMMD_ARTIST (CHARACTER_NO, DISP_STD_START_DT, DISP_STD_END_DT, DISP_SN, CREATE_DTIME, CREATE_STD_DTIME, DEL_TARGET_YN)
        VALUES (#{recommendArtistDto.characterNo}, now(), addtime(adddate(curdate(), - weekday(curdate()) + 6), '23:59:59'), #{recommendArtistDto.dispSn}, now(), now(), 'Y')
    </update>

    <update id="insertRcmmdArtistList">
        INSERT INTO TB_RCMMD_ARTIST_LIST (rcmmd_artist_id, artist_id, artist_type, disp_sn)
        VALUES (#{rcmmdArtistId}, #{artistId}, #{artistType}, #{dispSn})
    </update>

    <update id="insertRcmmdArtistTrackList">
        INSERT INTO TB_RCMMD_ARTIST_TRACK_LIST (rcmmd_artist_id, track_id, disp_sn)
        VALUES (#{rcmmdArtistId}, #{trackId}, #{dispSn})
    </update>

    <update id="insertRcmmdPreferGenreSimilarTrack" parameterType="com.sktechx.godmusic.personal.rest.model.dto.recommend.RecommendPreferGenreSimilarTrackDto"
            useGeneratedKeys="true" keyProperty="similarTrack.rcmmdPreferGenreSimilarTrackId" keyColumn="rcmmd_prefer_genre_similar_track_id">
        INSERT INTO TB_RCMMD_PREFER_GENRE_SIMILAR_TRACK (CHARACTER_NO, DISP_STD_START_DT, DISP_STD_END_DT, SVC_GENRE_ID, DISP_SN, CREATE_DTIME, CREATE_STD_DTIME, DEL_TARGET_YN)
        VALUES (#{similarTrack.characterNo}, now(), date_add(CURDATE(), interval 24*60*60 - 1 second), #{similarTrack.svcGenreId}, #{similarTrack.dispSn}, now(), now(), 'Y')
    </update>

    <update id="updateRcmmdPreferGenreSimilarTrack">
        UPDATE TB_RCMMD_PREFER_GENRE_SIMILAR_TRACK
        SET DISP_STD_END_DT = now()
        WHERE CHARACTER_NO = #{characterNo}
                AND now() BETWEEN DISP_STD_START_DT AND DISP_STD_END_DT
    </update>

    <insert id="insertRcmmdPreferGenreSimilarTrackList">
        INSERT INTO TB_RCMMD_PREFER_GENRE_SIMILAR_TRACK_LIST (rcmmd_prefer_genre_similar_track_id, track_id, disp_sn)
        VALUES (#{rcmmdPreferGenreSimilarTrackId}, #{trackId}, #{dispSn})
    </insert>

    <update id="updateRecommendDataRemovePrevent">
      UPDATE
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_ATST_TR'">
            tb_rcmmd_artist
        </if>
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_SML_TR'">
            tb_rcmmd_similar_track
        </if>
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_GR_TR'">
            tb_rcmmd_prefer_genre_similar_track
        </if>
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_CF_TR'">
            tb_rcmmd_mforu
        </if>
      SET
        del_target_yn = 'N'
      WHERE
        character_no = #{characterNo}
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_ATST_TR'">
          AND
            rcmmd_artist_id = #{rcmmdId}
        </if>
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_SML_TR'">
          AND
            rcmmd_similar_track_id = #{rcmmdId}
        </if>
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_GR_TR'">
          AND
            rcmmd_prefer_genre_similar_track_id = #{rcmmdId}
        </if>
        <if test="recommendPanelContentType != null and recommendPanelContentType.getCode() == 'RC_CF_TR'">
          AND
            rcmmd_mforu_id = #{rcmmdId}
        </if>
    </update>

</mapper>