<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2018 SK TECHX.
  ~  * All right reserved.
  ~  *
  ~  * This software is the confidential and proprietary information of SK TECHX.
  ~  * You shall not disclose such Confidential Information and
  ~  * shall use it only in accordance with the terms of the license agreement
  ~  * you entered into with SK TECHX.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sktechx.godmusic.personal.rest.repository.MemberChannelMapper">

    <resultMap id="memberChannelResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.MemberChannelDto" autoMapping="true">
        <id property="memberChannelId" column="memberChannelId"/>
        <collection property="album" resultMap="com.sktechx.godmusic.personal.rest.repository.AlbumMapper.albumResultMap"/>
    </resultMap>

    <select id="selectMemberChannelIdList" resultType="java.lang.Long">
		SELECT
			member_chnl_id
		FROM
			TB_MEMBER_CHNL
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			AND character_no = #{characterNo}
			AND member_no = #{memberNo}
			<if test="excludeChannelId != null">
				AND member_chnl_id != #{excludeChannelId}
			</if>
		</trim>
		ORDER BY member_chnl_sn ASC
		<if test="pageable != null">
			LIMIT #{pageable.offset}, #{pageable.pageSize}
		</if>
    </select>

	<select id="selectMemberChannelList" resultMap="memberChannelResultMap">
		SELECT
			a.member_chnl_id 						AS memberChannelId,
			a.member_chnl_nm 						AS memberChannelName,
			a.member_chnl_sn 						AS channelPriority,
			a.pin_type								AS pinType,
			a.pin_type_id							AS pinTypeId,
			(
		 		SELECT COUNT(*)
				FROM tb_map_member_chnl_track aa
				JOIN tb_track bb ON aa.track_id = bb.track_id AND bb.disp_status_yn= 'Y' AND now() BETWEEN bb.disp_start_dtime AND bb.disp_end_dtime
				WHERE aa.member_chnl_id = a.member_chnl_id

			) 										AS trackCount,
			IFNULL(a.chnl_play_tm, 0)				AS channelPlayTime,
			a.create_dtime							AS createDateTime,
			a.update_dtime 							AS updateDateTime,
			b.album_id 								AS albumId,
			b.title									AS albumTitle,
			c.album_img_size						AS size,
			c.album_img_url							AS url,
			c.update_dtime 							AS albumImgUpdateDateTime
		FROM tb_member_chnl a
		LEFT JOIN ted_album b
			  ON b.album_id = (
						SELECT aa.album_id
							FROM tb_track aa
							JOIN tb_map_member_chnl_track bb ON aa.track_id = bb.track_id
							JOIN tb_member_chnl cc ON bb.member_chnl_id = cc.member_chnl_id
							WHERE
								cc.member_chnl_id = a.member_chnl_id
								AND aa.disp_status_yn = 'Y' AND now() BETWEEN aa.disp_start_dtime AND aa.disp_end_dtime
								ORDER BY bb.update_dtime DESC, bb.track_sn ASC
								LIMIT 1
						  	)
		LEFT JOIN tb_album_img c ON b.album_id = c.album_id
		WHERE
			a.member_chnl_id IN
			<foreach collection="channelIdList" item="channelId" index="index" open="(" separator="," close=")">
				#{channelId}
			</foreach>
		ORDER BY a.member_chnl_sn ASC
	</select>

	<select id="selectMemberChannelTotalCount" resultType ="int">
		SELECT
		COUNT(member_chnl_id)
		FROM
		tb_member_chnl
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			AND character_no = #{characterNo}
			AND member_no = #{memberNo}
		</trim>
	</select>

    <select id="selectMemberChannel" resultMap="memberChannelResultMap">
		SELECT
			a.member_chnl_id 						AS memberChannelId,
			a.member_chnl_nm 						AS memberChannelName,
			a.member_chnl_sn 						AS channelPriority,
			a.pin_type								AS pinType,
			a.pin_type_id							AS pinTypeId,
			(
		 		SELECT COUNT(*)
				FROM tb_map_member_chnl_track aa
				JOIN tb_track bb ON aa.track_id = bb.track_id AND bb.disp_status_yn= 'Y' AND now() BETWEEN bb.disp_start_dtime AND bb.disp_end_dtime
				WHERE aa.member_chnl_id = a.member_chnl_id

			) 		AS trackCount,
			IFNULL(a.chnl_play_tm, 0)				AS channelPlayTime,
			a.update_dtime 							AS updateDateTime,
			a.create_dtime                   		AS createDateTime,
			b.album_id 								AS albumId,
			b.title									AS albumTitle,
			c.album_img_size						AS size,
			c.album_img_url							AS url,
			c.update_dtime 							AS albumImgUpdateDateTime
		FROM
			tb_member_chnl AS a
			LEFT JOIN ted_album b ON b.album_id = (
							SELECT aa.album_id
							FROM tb_track aa
							JOIN tb_map_member_chnl_track bb ON aa.track_id = bb.track_id
							JOIN tb_member_chnl cc ON bb.member_chnl_id = cc.member_chnl_id
							WHERE
								cc.member_chnl_id = a.member_chnl_id
								AND aa.disp_status_yn = 'Y' AND now() BETWEEN aa.disp_start_dtime AND aa.disp_end_dtime
								ORDER BY bb.update_dtime DESC, bb.track_sn ASC
								LIMIT 1
						  	)
			LEFT JOIN tb_album_img c ON b.album_id = c.album_id
		WHERE
			a.character_no = #{characterNo}
			AND a.member_no = #{memberNo}
			AND a.member_chnl_id = #{channelId}
			ORDER BY a.update_dtime DESC, a.member_chnl_sn ASC
	</select>

    <select id="selectMemberChannelCount" resultType="int">
		SELECT
			COUNT(member_chnl_id)
		FROM
			TB_MEMBER_CHNL
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			AND character_no = #{characterNo}
			AND member_no = #{memberNo}
		</trim>
	</select>

    <select id="selectMemberChannelEqualsName" resultType="int">
		SELECT
			count(*)
		FROM
			tb_member_chnl
		WHERE character_no = #{characterNo}
		AND member_no = #{memberNo}
		AND member_chnl_nm = #{channelName}
	</select>


	<select id="selectMemberChannelLikeNameList" resultType="String">
		SELECT
			member_chnl_nm
		FROM
			tb_member_chnl
		WHERE character_no = #{characterNo}
		AND member_no = #{memberNo}
		AND member_chnl_nm like #{channelName}
	</select>

	<update id="insertMemberChannel" parameterType="com.sktechx.godmusic.personal.rest.model.dto.MemberChannelDto"
			useGeneratedKeys="true" keyProperty="memberChannelDto.memberChannelId">
		INSERT INTO TB_MEMBER_CHNL (
				CHARACTER_NO
				, MEMBER_NO
				, PIN_TYPE
				, PIN_TYPE_ID
				, MEMBER_CHNL_NM
				, MEMBER_CHNL_SN
				, TRACK_CNT
				, CHNL_PLAY_TM
				, ALBUM_ID
				, CREATE_DTIME
				, UPDATE_DTIME

		) VALUES (
				#{characterNo}
				, #{memberNo}
				, #{memberChannelDto.pinType}
				, #{memberChannelDto.pinTypeId}
				, #{memberChannelDto.memberChannelName}
				, #{memberChannelDto.channelPriority}
				, #{memberChannelDto.trackCount}
				, #{memberChannelDto.channelPlayTime}
				, #{memberChannelDto.album.albumId}
				, now()
				, now()
		)
	</update>

	<update id="updateMemberChannel">
		UPDATE TB_MEMBER_CHNL
		<trim prefix="SET" suffixOverrides=",">
			<if test="channelName != null">MEMBER_CHNL_NM = #{channelName},  </if>
			update_Dtime = now(),
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			AND MEMBER_CHNL_ID = #{channelId}
			AND CHARACTER_NO = #{characterNo}
			AND MEMBER_NO = #{memberNo}
		</trim>
	</update>

	<update id="deleteMemberChannel">
		DELETE
		FROM
			tb_member_chnl
		WHERE
			member_chnl_id IN
			<foreach collection="channelIdList" item="channelId" index="index" open="(" separator="," close=")">
				#{channelId}
			</foreach>
			AND character_no = #{characterNo}
			AND member_no = #{memberNo}
	</update>

	<update id="updateMemberChannelList">
		UPDATE TB_MEMBER_CHNL A
		<trim prefix="SET" suffixOverrides=",">
			<if test="albumId != null">
				ALBUM_ID = #{albumId, javaType=LONG},
			</if>
			<if test="viewPriority != null">
				MEMBER_CHNL_SN = #{viewPriority},
			</if>
			<if test="updateTrackCount == true">
			<![CDATA[
				TRACK_CNT = IFNULL((SELECT
								COUNT(B.TRACK_ID)
							FROM
								TB_MAP_MEMBER_CHNL_TRACK B
							WHERE
								A.MEMBER_CHNL_ID = B.MEMBER_CHNL_ID),
						0),
			]]>
			</if>
			<if test="updatePlayTime == true">
			<![CDATA[
				CHNL_PLAY_TM = IFNULL((SELECT
								SUM(CASE
										WHEN LENGTH(C.TRACK_PLAY_TM) > 5 THEN CAST(SUBSTR(C.TRACK_PLAY_TM, 1, 3) AS UNSIGNED)
										ELSE CAST(SUBSTR(C.TRACK_PLAY_TM, 1, 2) AS UNSIGNED)
									END) + TRUNCATE(SUM(CAST(SUBSTR(C.TRACK_PLAY_TM, 4, 2) AS UNSIGNED)) / 60,
										0)
							FROM
								TB_MAP_MEMBER_CHNL_TRACK D
								JOIN TB_TRACK C ON D.TRACK_ID = C.TRACK_ID
							WHERE
								A.MEMBER_CHNL_ID = D.MEMBER_CHNL_ID),
						0),
			]]>
			</if>
			<if test="updateDateTime != null">UPDATE_DTIME = #{updateDateTime}</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			AND MEMBER_CHNL_ID = #{channelId, javaType=LONG}
			AND CHARACTER_NO = #{characterNo, javaType=LONG}
			AND MEMBER_NO = #{memberNo, javaType=LONG}
		</trim>
	</update>

	<select id="selectMemberChannelAlbumId" resultType="java.lang.Long">
		SELECT
			b.album_id
		FROM tb_map_member_chnl_track a
		JOIN tb_track b ON a.track_id = b.track_id AND b.disp_status_yn = 'Y' AND now() BETWEEN b.disp_start_dtime AND b.disp_end_dtime
		WHERE a.member_chnl_id = #{channelId}
        ORDER BY a.update_dtime DESC, a.track_sn ASC
        LIMIT 1;
	</select>

	<update id="updateMemberChannelImg">
		UPDATE    tb_member_chnl a
			LEFT OUTER JOIN (
				SELECT mt.member_chnl_id, tt.album_id
				FROM
					tb_map_member_chnl_track mt
				JOIN tb_track tt ON tt.track_id = mt.track_id AND tt.disp_status_yn ='Y' AND now() BETWEEN tt.disp_start_dtime AND tt.disp_end_dtime
				WHERE
					mt.member_chnl_id = #{channelId}
				ORDER BY mt.update_dtime DESC, mt.track_sn ASC
				limit 1) b
			ON a.member_chnl_id = b.member_chnl_id
		SET
			a.album_id = ifnull(b.album_id,0),
			a.update_dtime = now()
		WHERE
			a.member_chnl_id = #{channelId}
	</update>

	<select id="selectLimitedMemberChannelIdList" resultType="java.lang.Long">
		SELECT
			member_chnl_id
		FROM
			tb_member_chnl
		WHERE
			character_no = #{characterNo}
			AND member_no = #{memberNo}
			AND pin_type IS NULL
		ORDER BY member_chnl_sn ASC
		LIMIT 10
	</select>

	<select id="countMemberChannelIdList" resultType="int">
    SELECT
    	COUNT(*)
    FROM
        tb_member_chnl
    WHERE
    	character_no = #{characterNo}
		AND member_no = #{memberNo}
    </select>

</mapper>