<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.SettlementMapper" >

	<select id="selectServiceCode" resultType="string" parameterType="map">
        SELECT
            c.svc_id
        FROM
            tb_prchs_pass a
            JOIN tb_goods b ON a.goods_id = b.goods_id
            JOIN tb_map_goods_svc_id c ON a.goods_id = c.goods_id
        WHERE
            a.member_no = #{memberNo}
            AND c.category_type1 = #{playType}
            AND a.tmbrship_apply_yn = c.tmbrship_apply_yn
            AND a.goods_status = 'INUSE'
	</select>
    
    <select id="selectServiceCodeByPrchsId" resultType="string" parameterType="map">
        SELECT
            c.svc_id
        FROM
            tb_prchs_pass a
            JOIN tb_goods b ON a.goods_id = b.goods_id
            JOIN tb_map_goods_svc_id c ON a.goods_id = c.goods_id
        WHERE
            a.prchs_id = #{prchsId}
            AND c.category_type1 = #{playType}
            AND a.tmbrship_apply_yn = c.tmbrship_apply_yn
	</select>
 
</mapper>