<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2018 SK TECHX.
  ~  * All right reserved.
  ~  *
  ~  * This software is the confidential and proprietary information of SK TECHX.
  ~  * You shall not disclose such Confidential Information and
  ~  * shall use it only in accordance with the terms of the license agreement
  ~  * you entered into with SK TECHX.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sktechx.godmusic.personal.rest.repository.OcrMapper">

    <insert id="insertOcr" parameterType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrDto" useGeneratedKeys="true" keyProperty="ocrNo" >
		INSERT INTO tb_ocr (
		  	  member_no
		  	, character_no
		  	, member_dvc_no
		  	, create_dtime
		) VALUES (
			  #{memberNo}
			, #{characterNo}
			, #{memberDvcNo}
            , now()
		)
	</insert>

	<update id="updateOcr" parameterType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrDto">
		UPDATE tb_ocr
		<trim prefix="SET" suffixOverrides=",">
			<if test="confrmYn != null">confrm_yn = #{confrmYn},  </if>
			update_dtime = now()
		</trim>
		WHERE
			ocr_no = #{ocrNo}
	</update>

    <insert id="insertOcrFile" parameterType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrFileDto">
		INSERT INTO tb_ocr_file (
		  	  ocr_no
		  	, ocr_file_no
		  	, upload_yn
		  	, anals_status_type
		  	, anals_start_dtime
		  	, anals_end_dtime
		  	, aws_bucket_nm
		  	, aws_bucket_key
		  	, send_push_dtime
		) VALUES (
			  #{ocrNo}
			, #{ocrFileNo}
			, #{uploadYn}
			, #{analsStatusType}
			, #{analsStartDtime}
			, #{analsEndDtime}
			, #{awsBucketNm}
			, #{awsBucketKey}
			, #{sendPushDtime}
		)
	</insert>

    <update id="updateOcrFile" parameterType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrFileDto">
        UPDATE tb_ocr_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="uploadYn != null">upload_yn = #{uploadYn},  </if>
            <if test="analsStatusType != null">anals_status_type = #{analsStatusType},  </if>
            <if test="analsStartDtime != null">anals_start_dtime = #{analsStartDtime},  </if>
            <if test="analsEndDtime != null">anals_end_dtime = #{analsEndDtime},  </if>
            <if test="awsBucketNm != null">aws_bucket_nm = #{awsBucketNm},  </if>
            <if test="awsBucketKey != null">aws_bucket_key = #{awsBucketKey},  </if>
            <if test="sendPushDtime != null">send_push_dtime = #{sendPushDtime},  </if>
        </trim>
        WHERE
          ocr_no = #{ocrNo}
          AND ocr_file_no = #{ocrFileNo}
    </update>

	<resultMap id="ocrAnalsVoMap" type="com.sktechx.godmusic.personal.rest.model.vo.ocr.OcrAnalsVo" autoMapping="true">
		<id property="ocrNo" column="ocr_no"/>
		<collection property="ocrAnalsResultList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ocr.OcrAnalsVo$OcrAnalsResultVo" autoMapping="true">
			<id property="ocrFileNo" column="ocr_file_no"/>
			<!--<collection property="ocrAnalsResultTrackList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ocr.OcrAnalsVo$OcrAnalsResultTrackVo">-->
				<!--<result property="trackId" column="track_id" />-->
				<!--<result property="matchingRate" column="matching_rate" />-->
			<!--</collection>-->
			<collection property="ocrAnalsResultDetailList" ofType="com.sktechx.godmusic.personal.rest.model.vo.ocr.OcrAnalsVo$OcrAnalsResultDetailVo" autoMapping="true">
				<id property="ocrAnalsResultNo" column="ocr_anals_result_no"/>
				<collection property="track" resultMap="com.sktechx.godmusic.personal.rest.repository.TrackMapper.trackResultMap"/>
			</collection>


		</collection>

	</resultMap>

	<select id="selectOcrAnals" resultMap="ocrAnalsVoMap">
		SELECT
            a.ocr_no,
            a.ocr_file_no,
            IF(a.anals_end_dtime IS NULL , 'N', 'Y') 						AS completeJobYn,
            a.anals_status_type,
            b.ocr_anals_result_no,
            b.left_top_x_axis,
            b.left_top_y_axis,
            b.right_bottom_x_axis,
            b.right_bottom_y_axis,
            b.track_nm_skip_yn,
            b.artist_nm_skip_yn,
            d.track_id,
			d.track_nm,
			d.track_play_tm,
			d.adult_auth_need_track_yn,
			d.track_subtrct_qty,
			IF(d.streaming_premium_yn = 'Y' OR d.pps_yn ='Y' , 'Y', 'N')	AS holdbackYn,
			d.disp_status_yn,
			IF(d.title_yn = 'Y' , 'Y', 'N') 								AS titleYn,
			d.agency_id,
			d.free_yn,
			e.album_id,
			e.title,
			e.release_ymd,
			IF(e.album_tp='MF', '', e.album_tp) 							AS albumType,
			g.style_nm 														AS genreStyle,
			h.album_img_size 												AS size,
			h.album_img_url 												AS url,
			i.artist_id,
			j.artist_nm
		FROM
			tb_ocr_file a
			LEFT JOIN tb_ocr_anals_result b ON b.ocr_no = a.ocr_no AND b.ocr_file_no = a.ocr_file_no
			LEFT JOIN tb_ocr_anals_result_track c ON c.ocr_anals_result_no = b.ocr_anals_result_no AND c.pick_yn = 'Y'
            LEFT JOIN tb_track d ON d.track_id = c.track_id AND d.disp_status_yn= 'Y' AND now() BETWEEN d.disp_start_dtime AND d.disp_end_dtime
            LEFT JOIN ted_album e ON e.album_id = d.album_id AND e.disp_status_yn= 'Y' AND now() BETWEEN e.disp_start_dtime AND e.disp_end_dtime
            LEFT JOIN ted_albumstyle f ON f.album_id = e.album_id
			LEFT JOIN ted_style g ON g.style_id = f.style_id
            LEFT JOIN tb_album_img h ON h.album_id = e.album_id
            LEFT JOIN ted_trackartist i ON i.track_id = d.track_id AND i.rp_yn = 'Y'
            LEFT JOIN ted_artist j ON j.artist_id = i.artist_id
          	JOIN tb_ocr k ON a.ocr_no = k.ocr_no AND k.character_no = #{characterNo}
		WHERE a.ocr_no =  #{ocrNo}
	</select>

	<select id="selectOcrFile" resultType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrFileDto">
		SELECT
			a.ocr_no,
			a.ocr_file_no,
			a.upload_yn,
			a.anals_status_type,
			a.anals_start_dtime,
			a.anals_end_dtime,
			a.aws_bucket_nm,
			a.aws_bucket_key,
			a.send_push_dtime
		FROM
			tb_ocr_file a
			JOIN tb_ocr b ON a.ocr_no = b.ocr_no AND b.character_no = #{characterNo}
		WHERE
			a.ocr_no = #{ocrNo}
			AND a.ocr_file_no = #{ocrFileNo}
	</select>

	<select id="countDoneProcessionOcrFile" resultType="int">
        SELECT
        	COUNT(*)
        FROM
			tb_ocr_file
		WHERE
			ocr_no = #{ocrNo}
			AND anals_end_dtime IS NOT NULL
    </select>

	<select id="countOcrFile" resultType="int">
        SELECT
        	COUNT(1)
        FROM
			tb_ocr_file a
			JOIN tb_ocr b ON a.ocr_no = b.ocr_no AND b.character_no = #{characterNo}
		WHERE
			a.ocr_no = #{ocrNo}
    </select>

	<select id="selectOcr" resultType="com.sktechx.godmusic.personal.rest.model.dto.ocr.OcrDto">
		SELECT
			ocr_no,
			member_no,
			character_no,
			member_dvc_no,
			confrm_yn
		FROM
			tb_ocr
		WHERE
			ocr_no = #{ocrNo}
	</select>

</mapper>