<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.ChannelMapper" >

    <resultMap type="com.sktechx.godmusic.personal.rest.model.dto.ChnlDto" id="channelResultMap" autoMapping="true">
        <id property="chnlId" column="chnl_id" />
        <id property="chnlNm" column="chnl_nm"/>
        <collection property="trackList" resultMap="com.sktechx.godmusic.personal.rest.repository.TrackMapper.trackResultMap">
        </collection>
    </resultMap>

    <!-- 임시 사용 -->
    <select id="selectChannelById"  resultMap="channelResultMap">
        <![CDATA[
             SELECT
                   a.chnl_id,
                   a.chnl_nm,
                   a.track_id,
                   a.track_nm,
                   a.album_id,
                   f.artist_id repArtistId,
                   f.artist_nm repArtistNm,
                   a.track_sn,
                   a.agency_id,
                   if(a.streaming_premium_yn = 'Y' OR a.pps_yn = 'Y', 'Y', 'N') holdbackYn,
                   a.create_dtime,
                   a.update_dtime,
                   d.artist_id,
                   d.artist_nm,
                   b.album_img_size size,
                   CONCAT(b.album_img_url, '?updateDate=', unix_timestamp(b.update_dtime)) url,
                   a.trackCreateDtime,
                   a.trackUpdateDtime
                FROM (
                    SELECT
                        a.chnl_id,
                        a.chnl_nm,
                        c.track_id ,
                        c.track_nm,
                        c.album_id,
                        c.reprsnt_artist_id,
                        b.track_sn,
                        c.agency_id,
                        c.streaming_premium_yn,
                        c.pps_yn,
                        a.create_dtime,
                        a.update_dtime,
                        c.create_dtime trackCreateDtime,
                        c.update_dtime trackUpdateDtime
                    FROM
                        tb_chnl a INNER JOIN tb_map_chnl_track b
                            ON a.chnl_id = b.chnl_id
                        INNER JOIN tb_track c
                            ON b.track_id = c.track_id
                    WHERE
                        a.chnl_id = #{chnlId}
                    AND
                        a.disp_status_type ='Y'
                    AND
                        c.disp_status_yn = 'Y'
                    ORDER BY b.track_sn
                    LIMIT 0 , 10 ) a
                LEFT OUTER JOIN	tb_album_img b
                    ON a.album_id = b.album_id
                LEFT OUTER JOIN	ted_trackartist as c
                    ON a.track_id = c.track_id AND c.rp_yn = 'Y' and c.db_sts = 'A'
                LEFT OUTER JOIN	ted_artist d
                    ON c.artist_id = d.artist_id
                LEFT OUTER JOIN ted_album e
                    ON a.album_id = e.album_id
                LEFT OUTER JOIN ted_artist f
                    ON a.reprsnt_artist_id = f.artist_id
		]]>
    </select>

    <!-- 임시 사용 -->
    <select id="selectChannelTrackCount" resultType="Integer">
        SELECT
            count(*)
        FROM
            tb_chnl a INNER JOIN tb_map_chnl_track b
                ON a.chnl_id = b.chnl_id
            INNER JOIN tb_track c
                ON b.track_id = c.track_id
        WHERE
            a.chnl_id = #{chnlId}
        AND
            a.disp_status_type ='Y'
        AND
            c.disp_status_yn = 'Y'
    </select>

    <select id="selectEditorsPickChannelList" resultMap="channelResultMap">
		SELECT
			c.chnl_id,
			c.chnl_nm,
			e.track_id,
			e.track_nm,
			j.artist_id reqArtistId,
			j.artist_nm reqArtistNm,
			e.agency_id,
			e.album_id,
			h.artist_id,
			h.artist_nm,
			f.album_img_size size,
			CONCAT(f.album_img_url,'?updateDate=',UNIX_TIMESTAMP(f.update_dtime)) url,
			c.create_dtime,
			c.update_dtime
		FROM
			(
				SELECT
					a.theme_id, b.chnl_id, b.disp_sn
				FROM
					(
						SELECT
							theme_id
						FROM
							tb_theme
						WHERE
							theme_type = 'HOT'
							AND disp_status_type = 'Y'
							<if test="isToday">
								AND disp_start_dtime <![CDATA[<=]]> NOW()
								AND disp_end_dtime <![CDATA[>=]]> NOW()
							</if>
							<if test="!isToday">
								AND disp_end_dtime <![CDATA[<]]> NOW()
							</if>

						ORDER BY disp_end_dtime DESC
						LIMIT 1
				  ) a
				INNER JOIN tb_map_theme_chnl b ON a.theme_id = b.theme_id
				ORDER BY disp_sn ASC
				LIMIT #{limitSize}
			) b
		INNER JOIN
			tb_chnl c ON c.chnl_id = b.chnl_id
		INNER JOIN
			tb_map_chnl_track d ON c.chnl_id = d.chnl_id
		INNER JOIN
			tb_track e ON d.track_id = e.track_id
		LEFT OUTER JOIN
			tb_album_img f ON e.album_id = f.album_id
		LEFT OUTER JOIN
			ted_trackartist g ON e.track_id = g.track_id
		LEFT OUTER JOIN
			ted_artist h ON g.artist_id = h.artist_id
		LEFT OUTER JOIN
			ted_album i ON e.album_id = i.album_id
		LEFT OUTER JOIN
			ted_artist j ON e.reprsnt_artist_id = j.artist_id
		WHERE
			c.disp_status_type = 'Y'
		AND
			e.disp_status_yn = 'Y'
		ORDER BY b.disp_sn ASC
    </select>

    <!-- TOP100 , KIDS를 제외한 선호 장르의 인기채널을 가져온다 -->
    <select id="selectPreferGenrePopularChannel">

    </select>




</mapper>