<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2018 SK TECHX.
  ~  * All right reserved.
  ~  *
  ~  * This software is the confidential and proprietary information of SK TECHX.
  ~  * You shall not disclose such Confidential Information and
  ~  * shall use it only in accordance with the terms of the license agreement
  ~  * you entered into with SK TECHX.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sktechx.godmusic.personal.rest.repository.CharacterMapper">

    <resultMap id="characterResultMap" type="com.sktechx.godmusic.personal.rest.model.dto.CharacterDto" autoMapping="true">
        <id property="characterNo" column="character_no" />

        <collection property="preferGenreList" javaType="java.util.ArrayList" ofType="com.sktechx.godmusic.personal.rest.model.dto.PreferGenreDto" column="characterNo" autoMapping="true">
            <!--<result property="preferGenreId" column="prefer_genre_id"/>-->
            <!--<result property="preferGenreNm" column="prefer_genre_nm"/>-->
        </collection>
    </resultMap>

    <select id="selectCharacter" resultMap="characterResultMap" parameterType="Long">
        <![CDATA[
            SELECT
              a.character_no,
              c.prefer_genre_id,
              c.prefer_genre_nm
            FROM tb_character a
              LEFT JOIN tb_character_prefer_genre b ON a.character_no = b.character_no
              LEFT JOIN tb_prefer_genre c ON b.prefer_genre_id = c.prefer_genre_id
            WHERE a.character_no = #{characterNo}
        ]]>
    </select>

</mapper>