<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 SK Planet.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK Planet.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK Planet.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.DevToolMapper">
	<select id="selectMemberListById" parameterType="string" resultType="com.sktechx.godmusic.personal.rest.model.dto.member.MemberDto">
		<![CDATA[
			SELECT
				member_no,
				member_id,
				member_mdn,
				member_svc_mang_no AS serviceManagementNo
			FROM
				tb_member
			WHERE
				member_id = #{memberId}
		]]>
	</select>

	<update id="updateCharacterType">
		UPDATE tb_character
		SET character_type = #{characterType}
		WHERE character_no = #{characterNo}
	</update>
	<insert id="insertAfloCharacter">
		INSERT INTO tb_aflo_character VALUES
		(
			#{characterNo},
			(SELECT vas_id FROM tb_vas ORDER BY create_dtime DESC limit 1),
			(SELECT vas_id FROM tb_vas ORDER BY create_dtime DESC limit 1),
			'9999-12-31 23:59:59',
			'9999-12-31 23:59:59',
			now(),
			now()
		);
	</insert>

	<delete id="deleteAfloCharacter">
		DELETE FROM tb_aflo_character WHERE character_no = #{characterNo}
	</delete>

	<select id="selectCharacterPreferArtist" resultType="Integer">
		SELECT COUNT(1) FROM tb_character_prefer_artist WHERE character_no = #{characterNo}
	</select>
	<insert id="insertCharacterPreferArtist">
		INSERT INTO tb_character_prefer_artist VALUES (#{characterNo},'PREFER', #{preferGenreId}, #{preferArtistId}, now(), now())
	</insert>

</mapper>
