<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018 SK TECHX.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of SK TECHX.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with SK TECHX.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sktechx.godmusic.personal.rest.repository.LikeMapper" >

    <select id="getLikeCountByLikeTypeAndLikeTypeId" resultType="int">
        SELECT
            COUNT(1)
        FROM TB_CHARACTER_LIKE
        WHERE CHARACTER_NO = #{characterNo}
              AND LIKE_TYPE = #{likeType}
              AND LIKE_TYPE_ID = #{likeTypeId}
    </select>

    <select id="getLikeCountByLikeType" resultType="int">
        SELECT
            COUNT(1)
        FROM TB_CHARACTER_LIKE
        WHERE CHARACTER_NO = #{characterNo}
              AND LIKE_TYPE = #{likeType}
    </select>

    <insert id="insertLike">
        INSERT INTO TB_CHARACTER_LIKE (CHARACTER_NO, LIKE_TYPE, LIKE_TYPE_ID, DISP_SN, CREATE_DTIME, UPDATE_DTIME)
        VALUES (#{characterNo}, #{likeType}, #{likeTypeId}, ( SELECT DISP_SN
                                                              FROM ( SELECT IFNULL(MAX( DISP_SN ) + 1 ,1) as DISP_SN
                                                                     FROM TB_CHARACTER_LIKE
                                                                     WHERE CHARACTER_NO = #{characterNo}
                                                                      AND LIKE_TYPE = #{likeType}) TMP ), now(), now())
    </insert>

    <delete id="deleteLike">
        DELETE FROM TB_CHARACTER_LIKE
        WHERE CHARACTER_NO = #{characterNo}
              AND LIKE_TYPE = #{likeType}
              AND LIKE_TYPE_ID = #{likeTypeId}
    </delete>

    <update id="updateLikeListByLikeTypeId">
        UPDATE TB_CHARACTER_LIKE
        SET DISP_SN      = #{dispSn}
            , UPDATE_DTIME = #{now}
        WHERE CHARACTER_NO = #{characterNo}
              AND LIKE_TYPE = #{likeType}
              AND LIKE_TYPE_ID = #{likeTypeId}
    </update>

</mapper>