<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2018 SK TECHX.
  ~  * All right reserved.
  ~  *
  ~  * This software is the confidential and proprietary information of SK TECHX.
  ~  * You shall not disclose such Confidential Information and
  ~  * shall use it only in accordance with the terms of the license agreement
  ~  * you entered into with SK TECHX.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sktechx.godmusic.personal.rest.repository.ChartMapper">

    <resultMap type="com.sktechx.godmusic.personal.rest.model.dto.ChartDto" id="liveChartResultMap" autoMapping="true">
        <id property="chartId" column="chnl_id" />
        <id property="chartNm" column="chnl_nm"/>
        <collection property="trackList" resultMap="com.sktechx.godmusic.personal.rest.repository.TrackMapper.trackResultMap">
        </collection>
    </resultMap>

    <resultMap type="com.sktechx.godmusic.personal.rest.model.dto.ChartDto" id="chartListResultMap" autoMapping="true">
        <id property="chartId" column="chart_id" />

        <collection property="trackList" resultMap="com.sktechx.godmusic.personal.rest.repository.TrackMapper.trackResultMap" />
    </resultMap>

    <!-- 임시 사용 -->
    <select id="selectLiveChart"  resultMap="liveChartResultMap">
        <![CDATA[
             SELECT
                   a.chnl_id,
                   a.chnl_nm,
                   a.track_id,
                   a.track_nm,
                   a.album_id,
                   f.artist_id repArtistId,
                   f.artist_nm repArtistNm,
                   a.track_sn,
                   a.track_bf_sn,
                   a.agency_id,
                   if(a.streaming_premium_yn = 'Y' OR a.pps_yn = 'Y', 'Y', 'N') holdbackYn,
                   a.create_dtime,
                   a.update_dtime,
                   d.artist_id,
                   d.artist_nm,
                   b.album_img_size size,
                   CONCAT(b.album_img_url, '?updateDate=', unix_timestamp(b.update_dtime)) url,
                   a.trackCreateDtime,
                   a.trackUpdateDtime
                FROM (
                    SELECT
                        a.chnl_id,
                        a.chnl_nm,
                        c.track_id ,
                        c.track_nm,
                        c.album_id,
                        c.reprsnt_artist_id,
                        b.track_sn,
                        b.track_bf_sn,
                        c.agency_id,
                        c.streaming_premium_yn,
                        c.pps_yn,
                        a.create_dtime,
                        a.update_dtime,
                        c.create_dtime trackCreateDtime,
                        c.update_dtime trackUpdateDtime
                    FROM
                        tb_chnl a INNER JOIN tb_map_chnl_track b
                            ON a.chnl_id = b.chnl_id
                        INNER JOIN tb_track c
                            ON b.track_id = c.track_id
                    WHERE
                        a.rank_chnl_type = '1HOUR'
                    AND
                        a.disp_status_type ='Y'
                    AND
                        c.disp_status_yn = 'Y'
                    ORDER BY b.track_sn
                    LIMIT 0 , 12 ) a
                LEFT OUTER JOIN	tb_album_img b
                    ON a.album_id = b.album_id
                LEFT OUTER JOIN	ted_trackartist as c
                    ON a.track_id = c.track_id AND c.rp_yn = 'Y' and c.db_sts = 'A'
                LEFT OUTER JOIN	ted_artist d
                    ON c.artist_id = d.artist_id
                LEFT OUTER JOIN ted_album e
                    ON a.album_id = e.album_id
                LEFT OUTER JOIN ted_artist f
                    ON a.reprsnt_artist_id = f.artist_id
		]]>
    </select>

    <select id="selectChartListByDefaultGenre" resultMap="chartListResultMap">
        <![CDATA[
            SELECT
              b.chart_id,
              b.chart_nm,
              d.track_id,
              f.album_id,
              g.album_img_url as url,
              g.album_img_size as size
            FROM tb_svc_genre a
              JOIN tb_chart b ON a.svc_genre_id = b.svc_content_id
              JOIN tb_chart_music_content c ON b.chart_id = c.chart_id
              JOIN tb_track d ON c.music_content_id = d.track_id
              JOIN ted_track e ON d.track_id = e.track_id
              JOIN ted_album f ON e.album_id = f.album_id
              JOIN tb_album_img g ON f.album_id = g.album_id
            WHERE a.main_disp_std_yn = 'Y'
                  AND b.chart_type_cd IN ('DAILY', 'NEW')
                  AND b.svc_content_type = 'GENRE'
                  AND b.music_content_type = 'TRACK'
                  AND c.disp_sn = 1
            ORDER BY a.main_disp_sn
            LIMIT 12
        ]]>
    </select>

    <select id="selectChartListByPreferGenre" resultMap="chartListResultMap">
            SELECT
              bb.chart_id,
              bb.chart_nm,
              dd.track_id,
              ff.album_id,
              gg.album_img_url as url,
              gg.album_img_size as size
            FROM (
                   SELECT /* 1. 선호 장르에 매핑된 서비스 장르가 1개: 장르 기준 제공 */
                     10 ord,
                     b.update_dtime,
                     d.svc_genre_id
                   FROM TB_CHARACTER a
                     JOIN tb_character_prefer_genre b ON a.character_no = b.character_no
                     JOIN TB_PREFER_GENRE C ON B.PREFER_GENRE_ID = C.PREFER_GENRE_ID
                     JOIN (SELECT
                             prefer_genre_id,
                             svc_genre_id,
                             disp_sn,
                             count(*) AS svc_genre_cnt
                           FROM tb_map_prefer_genre_svc_genre
                           GROUP BY prefer_genre_id
                          ) d ON c.prefer_genre_id = d.prefer_genre_id
                   WHERE a.character_no = #{characterNo}
                         AND d.svc_genre_cnt = 1
                   UNION
                   SELECT /* 2-1. 선호 장르에 매핑된 서비스 장르가 N개 이고 아티스트 미선택: 서비스 장르의 3뎁스 동일명 디폴트 설정:사용 장르 기준 제공 */
                     21 ord,
                     b.update_dtime,
                     f.svc_genre_id
                   FROM tb_character a
                     JOIN tb_character_prefer_genre b ON a.character_no = b.character_no
                     JOIN tb_prefer_genre c ON b.prefer_genre_id = c.prefer_genre_id
                     JOIN (SELECT
                             prefer_genre_id,
                             svc_genre_id,
                             disp_sn,
                             count(*) AS svc_genre_cnt
                           FROM tb_map_prefer_genre_svc_genre
                           GROUP BY prefer_genre_id
                          ) d ON c.prefer_genre_id = d.prefer_genre_id
                     LEFT JOIN (SELECT
                                  prefer_genre_id,
                                  count(*) AS prefer_genre_cnt
                                FROM tb_prefer_genre_artist
                                GROUP BY prefer_genre_id
                               ) e ON c.prefer_genre_id = e.prefer_genre_cnt
                     JOIN tb_svc_genre f ON d.svc_genre_id = f.svc_genre_id
                   WHERE a.character_no = #{characterNo}
                         AND d.svc_genre_cnt > 1
                         AND f.browser_disp_std_yn = 'Y' #3뎁스 동일명 디폴트 설정:사용 으로 변경
                         AND e.prefer_genre_id IS NULL
                   UNION
                   SELECT /* 2-2. 선호 장르에 매핑된 서비스 장르가 N개 이고 아티스트 선택: 선호 아티스트 국가와 장르의 최상위 장르(1레벨) 구분으로 매핑된 장르 기준 제공 */
                     22 ord,
                     c.update_dtime,
                     e.svc_genre_id
                   FROM tb_character a
                     JOIN tb_character_prefer_genre b ON a.character_no = b.character_no
                     JOIN tb_prefer_genre_artist C ON b.prefer_genre_id = c.prefer_genre_id
                     JOIN (SELECT
                             prefer_genre_id,
                             svc_genre_id,
                             disp_sn,
                             count(*) AS svc_genre_cnt
                           FROM tb_map_prefer_genre_svc_genre
                           GROUP BY prefer_genre_id
                          ) d ON c.prefer_genre_id = d.prefer_genre_id
                     JOIN (
                            SELECT
                              x.svc_genre_id,
                              x.parents_svc_genre_id,
                              x.svc_genre_nm,
                              x.level,
                              CASE (
                                CASE level
                                WHEN 1
                                  THEN svc_genre_id
                                WHEN 2
                                  THEN parents_svc_genre_id
                                WHEN 3
                                  THEN (SELECT parents_svc_genre_id
                                        FROM tb_svc_genre
                                        WHERE svc_genre_id = x.parents_svc_genre_id)
                                END
                              )
                              WHEN 1
                                THEN 'KOR'
                              WHEN 2
                                THEN 'KOR'
                              ELSE 'FOR'
                              END AS root_svc_genre
                            FROM tb_svc_genre X
                          ) e ON d.svc_genre_id = e.svc_genre_id
                     JOIN (
                            SELECT
                              b.character_no,
                              b.prefer_genre_id,
                              b.artist_id AS prefer_artist_id,
                              CASE C.nation_cd
                              WHEN 'KOR'
                                THEN 1
                              ELSE 'FOR'
                              END         AS artist_nation
                            FROM tb_character A
                              JOIN tb_character_prefer_artist b ON a.character_no = b.character_no
                              JOIN ted_artist c ON b.artist_id = c.artist_id
                            WHERE a.character_no = #{characterNo}
                          ) f ON d.prefer_genre_id = f.prefer_genre_id and e.root_svc_genre = f.artist_nation
                   WHERE a.character_no = #{characterNo}
                         AND d.svc_genre_cnt > 1
                 ) aa
              JOIN tb_chart bb ON aa.svc_genre_id = bb.svc_content_id
              JOIN tb_chart_music_content cc ON bb.chart_id = cc.chart_id
              JOIN tb_track dd ON cc.music_content_id = dd.track_id
              JOIN ted_track ee ON dd.track_id = ee.track_id
              JOIN ted_album ff ON ee.album_id = ff.album_id
              JOIN tb_album_img gg ON ff.album_id = gg.album_id
            WHERE bb.chart_type_cd IN ('DAILY', 'NEW')
                  AND bb.svc_content_type = 'GENRE'
                  AND bb.music_content_type = 'TRACK'
                  AND cc.disp_sn = 1
            ORDER BY aa.ord ASC, aa.update_dtime DESC
            LIMIT 12
    </select>

    <select id="selectChartMusicContentList" resultMap="chartListResultMap">
    <![CDATA[
        SELECT
          a.chart_id,
          a.chart_nm,
          c.track_id,
          c.track_nm,
          b.disp_sn as trackSn,
          b.bf_disp_sn trackBfSn
        FROM tb_chart a
          JOIN tb_chart_music_content b ON a.chart_id = b.chart_id
          JOIN tb_track c ON b.music_content_id = c.track_id
        WHERE a.chart_id = #{chartId}
              AND c.disp_status_yn = 'Y'
        ORDER BY b.disp_sn
    ]]>
    </select>


</mapper>