<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-store, no-cache"/>

    <title>칭찬 테스트 데이터 만들기</title>
</head>
<body>

<!-- TODO characterNo 기준 획득한 배지 조회 -->

<hr/>

<!-- TODO characterNo 기준 배지 획득 처리 -->
<div>
    <input type="text" name="characterNo" placeholder="캐릭터 번호를 입력하세요."/>

    <select th:field="*{badgeId}">
        <option th:each="badge : ${badgeList}"
                th:value="${badge.badgeId}"
                th:text="${badge.badgeNm}"></option>
    </select>
</div>

</body>
</html>