<!DOCTYPE html>
<html lang="en">
<head>
    <title>홈 패널 테스트 기능</title>
    <meta charset="utf-8">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <style>
        .board_list {width:100%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
        .board_list thead th:first-child{background-image:none}
        .board_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle}
        .board_list tbody tr:first-child td {border:none}
        .board_list tbody td {padding:10px 0;text-align:center;vertical-align:middle}
        .board_list tbody td a {display:inline-block}
        .memberTr {cursor: pointer;}
        .mar_tx_20 {margin-top: 20px;}
    </style>
</head>
<body>
    <div>
        <form id="frm_member">
            <label for="character_no"> character_no</label>
            <input type="text" id="character_no" name="character_no" class=".search">

            <br/>
            <button name="btn_clearCache">홈 패널 캐쉬 지우기</button>

            <br/>
            <button name="btn_forMeFloCreate">나를 위한 새로운 발견 생성하기</button>
            <button name="btn_forMeFloUpdate">나를 위한 새로운 발견 현시각으로 갱신하기</button>
            <button name="btn_forMeFloDelete">나를 위한 새로운 발견 삭제하기</button>
            <br/>

            <br/>
            <button name="btn_todayFloCreate">오늘의 추천 생성하기</button>
            <button name="btn_todayFloUpdate">오늘의 추천 현시각으로 갱신하기</button>
            <button name="btn_todayFloDelete">오늘의 추천 삭제하기</button>
            <br/>

            <br/>
            <button name="btn_artistFloCreate">좋아할만한 아티스트 MIX 생성하기</button>
            <button name="btn_artistFloUpdate">좋아할만한 아티스트 MIX 현시각으로 갱신하기</button>
            <button name="btn_artistFloDelete">좋아할만한 아티스트 MIX 삭제하기</button>
            <br/>

            <button name="btn_chartCreate">취향에서 차트(실시간,키즈) 추가하기</button>
            <button name="btn_chartDelete">취향에서 차트 삭제하기</button>

            <br/>
            <button name="btn_aFloChnlUpdate">AFLO 채널들 현시각으로 갱신하기</button>
            <br/>

            <button name="btn_priChartCreate1">내 취향 차트 만들기(취향 차트)</button>
            <button name="btn_priChartCreate2">내 취향 차트 만들기(취향 차트 있긴 한데 부족)</button>
            <button name="btn_priChartCreate3">내 취향 차트 만들기(추천은 받았는데 실시간과 같음)</button>
            <button name="btn_priChartCreate4">내 취향 차트 만들기(취향 없음)</button>
        </form>
    </div>
    <div id="layout">


    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $("button[name='btn_clearCache']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/clearHomeCache", "characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_forMeFloCreate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/createRecommendPanel", "type=RC_CF_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_forMeFloUpdate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/updateRecommendPanel", "type=RC_CF_TR&characterNo="+$("#character_no").val(), fn_success);
            });
            $("button[name='btn_forMeFloDelete']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/deleteRecommendPanel", "type=RC_CF_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_todayFloCreate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/createRecommendPanel", "type=RC_SML_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_todayFloUpdate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/updateRecommendPanel", "type=RC_SML_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_todayFloDelete']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/deleteRecommendPanel", "type=RC_SML_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_artistFloCreate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/createRecommendPanel", "type=RC_ATST_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_artistFloUpdate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/updateRecommendPanel", "type=RC_ATST_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_artistFloDelete']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/deleteRecommendPanel", "type=RC_ATST_TR&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_chartCreate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/addChart", "characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_chartDelete']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/deleteChart", "characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_aFloChnlUpdate']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/updateAfloChnl", "characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_defaultUserSelect']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/changeCharacterType", "type=DEFAULT&characterNo="+$("#character_no").val(), fn_success);
            });

            $("button[name='btn_afloUserSelect']").on("click", function (e) {
                e.preventDefault();
                fn_ajax(null, "GET", "/personal/test/changeCharacterType", "type=AFLO&characterNo="+$("#character_no").val(), fn_success);
            });


            $("button[name='btn_priChartCreate1']").on("click", function (e) {
                e.preventDefault();
                fn_ajax({'x-gm-member-no':$("#member_no").val(), 'x-gm-character-no':$("#character_no").val()},
                    "GET", "/personal/test/private-chart/create", "type=MIX&characterNo="+$("#character_no").val(), function(result){

                    }


                );
            });

            $("button[name='btn_priChartCreate2']").on("click", function (e) {
                e.preventDefault();
                fn_ajax({'x-gm-member-no':$("#member_no").val(), 'x-gm-character-no':$("#character_no").val()},
                    "GET", "/personal/test/private-chart/create", "type=REQUIRE_MORE_LISTEN&characterNo="+$("#character_no").val(), function(result){

                    }


                );
            });


            $("button[name='btn_priChartCreate3']").on("click", function (e) {
                e.preventDefault();
                fn_ajax({'x-gm-member-no':$("#member_no").val(), 'x-gm-character-no':$("#character_no").val()},
                    "GET", "/personal/test/private-chart/create", "type=SAME&characterNo="+$("#character_no").val(), function(result){

                    }


                );
            });


            $("button[name='btn_priChartCreate4']").on("click", function (e) {
                e.preventDefault();
                fn_ajax({'x-gm-member-no':$("#member_no").val(), 'x-gm-character-no':$("#character_no").val()},
                    "GET", "/personal/test/private-chart/delete", "type=MIX&characterNo="+$("#character_no").val(), function(result){

                    }


                );
            });



        });

        function fn_success(result){
            alert(result);
        }

        function fn_ajax(headers, type, url, data, success){
            $.ajax({
                type: type,
                headers: headers,
                url : url,
                dataType : "json",
                contentType : "application/json",
                data : data,
                success : success
                ,
                error : function(jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    var body = $("table>tbody");
                    body.empty();
                }

            })
        }

    </script>
</body>
</html>